body {
  font-family: 'Merriweather', serif;
}

.full-div {
  max-height: 100vh;
  max-width: 100%;
}

.s-one {
  color: white;
  border: 3px solid darkgrey;
}

.s-one-content {
  background: rgba(0, 0, 0, .85);
  border-radius: 5px;
  padding: 10px;
  max-width: 75%;
  height: auto;
  margin: 0 auto;
}

.s-one p {
  font-size: 1.2rem
}

.s-two {
  background: rgba(255, 255, 255, .85);
}

.carousel-comp {
  margin: 0 auto;
  text-align: center;
  max-width: 60%;
  height: auto;
}

.carousel-comp img {
  /* max-width: 500px;
  max-height: 500px; */
}

