.content-bg {
  background: rgba(255, 255, 255, .75);
}

.welcome {
  color: white;
  font-size: 3.5rem;
  font-family: 'Courgette', cursive;
}

.carousel-comp {
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  margin: 0 auto;
  width: 50%;
}

