.full-div {
  height: 100vh;
  width: 100%;
}

.s-one {
  color: black;
}

.s-two {
  background: rgba(255, 255, 255, .75);
}

.welcome {
  color: white;
  font-size: 3.5rem;
  font-family: 'Courgette', cursive;
}

.carousel-comp {
  margin: 0 auto;
  width: 50%;
}

